$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

.login-container {
  height: 100vh;
  margin: auto;
  position: relative;

  .panels {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 750px;

    .left-panel {
      background-color: #171614;
      background-position: center top;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      box-shadow: $box-shadow;
      width: 40%;
      position: relative;
    }
  }

  .left-panel-content {
    width: 100%;

    .header-content {
      position: absolute;
      top: 100px;
      padding: 0 20px;

      .logo {
        width: 300px;
      }

      span {
        position: absolute;
        margin-left: 20px;
        color: var(--bs-white);
        font-weight: 100;
        font-size: 10px
      }
    }

    .footer-content {
      mat-icon {
        font-size: 34px;
        color: #BDBDBD;
      }
    }
  }

  .right-panel {
    background-color: var(--bs-white);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: $box-shadow;
    position: relative;
    width: 60%;

    .right-panel-content {
      position: absolute;
      top: 213px;
      width: 100%;
      padding: 0 100px;

      .auth-content {

        h3 {
          color: #042541;
          font-weight: 600;
          font-size: 28px;
          line-height: 35px;
        }
      }

      .auth-form {
        .forgot-password {
          color: var(--bs-primary) !important;
          float: right;
          margin-bottom: 12px;
          cursor: pointer;
          margin-top: -7px;
        }

        .incorrect-credential {
          font-size: 0.8rem;
          color: #f44336;
          margin-top: -16px;
        }
      }

      .auth-buttons {
        button {
          padding: 8px 0px;
          width: 100%;
          background-color: var(--bs-primary) !important;
          color: var(--bs-white);
          line-height: 24px;
          font-weight: 100;
        }
      }

      .sign-up-section {
        span {
          color: #757575;

          a {
            color: var(--bs-primary) !important;
            text-decoration: none;
          }
        }
      }
    }
  }
}
