<div class="login-container">
  <div class="panels">
    <div class="left-panel">
      <div class="left-panel-content">
        <div class="header-content">
          <img class="logo" src="../../../../assets/images/nf-header-logo.svg">
          <span class="d-block">Development build Version: 0.6.7</span>
        </div>
        <div class="carousel-section">
          <mat-carousel [hideArrows]="true" [autoplay]="true" [hideIndicators]="false" [proportion]="100" [timings]="'600ms ease-in'" [useMouseWheel]="true" [interval]="6000">
            <mat-carousel-slide>
              <div class="carousel-main-content">
                <h3>Achieve the Energy and Body to live without limitations</h3>
              </div>
              <div class="carousel-sub-content">
                <span>Leverage your body's natural process to gain ultimate health.</span>
              </div>
            </mat-carousel-slide>
            <mat-carousel-slide>
              <div class="carousel-main-content">
                <h3>The NF Complete Health Acceleration Track</h3>
              </div>
              <div class="carousel-sub-content">
                <div matBadge="1" matBadgeOverlap="true" matBadgePosition="before" class="badge-icon mt-2">
                  <span class="icon-desc">Activate your body's Natural Energy</span>
                </div>
                <div matBadge="2" matBadgeOverlap="true" matBadgePosition="before" class="badge-icon mt-2">
                  <span class="icon-desc"> Jumpstart your body's Immune System</span>
                </div>
                <div matBadge="3" matBadgeOverlap="true" matBadgePosition="before" class="badge-icon mt-2">
                  <span class="icon-desc">Turn on your body's Healing Autopilot</span>
                </div>
                <div matBadge="4" matBadgeOverlap="true" matBadgePosition="before" class="badge-icon mt-2">
                  <span class="icon-desc">Get the Body you've always wanted</span>
                </div>
                <div matBadge="5" matBadgeOverlap="true" matBadgePosition="before" class="badge-icon mt-2">
                  <span class="icon-desc">Elevate the Quality of Your Life</span>
                </div>
              </div>
            </mat-carousel-slide>
            <mat-carousel-slide>
              <div class="carousel-main-content carousel-last-item">
                <div class="d-flex flex-row align-items-center p-2">
                  <div class="p-4 pb-0 pt-0">
                    <mat-icon>flash_on</mat-icon>
                  </div>
                  <div class="p-3 pl-0">
                    <span>The Energy You Want</span>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center p-2">
                  <div class="p-4 pb-0 pt-0">
                    <mat-icon>accessibility_new</mat-icon>
                  </div>
                  <div class="p-3 pl-0">
                    <span>The Body You Deserve</span>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center p-2">
                  <div class="p-4 pb-0 pt-0">
                    <mat-icon>favorite</mat-icon>
                  </div>
                  <div class="p-3 pl-0">
                    <span>No More Health Limitations</span>
                  </div>
                </div>
              </div>
            </mat-carousel-slide>
          </mat-carousel>
        </div>
        <div class="footer-content">
          <div class="d-flex flex-row justify-content-center">
            <div class="p-3 pt-0">
              <mat-icon>facebook</mat-icon>
            </div>
            <div class="p-3 pt-0">
              <mat-icon> insert_link</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <div class="right-panel-content">
        <div class="auth-content">
          <h3>Sign In</h3>
        </div>
        <div class="auth-form">
          <form [formGroup]="loginForm">
            <div class="form-field-input">
              <app-form-input [formItem]="username" [formGroup]="loginForm">
              </app-form-input>
            </div>
            <div class="form-field-input password-container">
              <app-form-input [formItem]="password" [controlType]="isShowPassword?'text':'password'" [formGroup]="loginForm" (iconClick)="showPassword()">
              </app-form-input>
              <span class="forgot-password">Forgot Password?</span>
            </div>
          </form>
        </div>
        <div class="auth-buttons">
          <button class="login-btn primary-btn" mat-stroked-button type="submit" (click)="onSubmit()">SIGN IN</button>
        </div>
        <div class="justify-content-center text-center mt-3 pt-3 sign-up-section">
          <span>Not yet a member? <a href="#">Sign up here</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
