<div class="planner-week-view-container">
  <div class="d-flex flex-column flex-lg-row flex-wrap justify-content-between align-items-center">
    <div class="meal-plan-controls d-flex flex-row align-items-baseline">
      <div class="no-of-servings">
        <mat-form-field appearance="outline">
          <input matInput
            [type]="'number'"
            [formControl]="noOfServingsControl"
            id="no-of-servings"
            [value]="mealPlanServingSize"
            placeholder="No. of Servings">
        </mat-form-field>
      </div>
      <button class="btn btn-outline-warning ms-2" type="button" (click)="clear()">CLEAR</button>
    </div>
    <div class="total-zen-score">
      <h1 class="fw-bold mb-0">Zen Score: {{totalWeekZenScore | percent: '1.1-1' }}</h1>
    </div>
    <div class="week-controls d-flex flex-row flex-wrap align-items-center">
      <div class="week-control-date-picker">
        <mat-form-field appearance="standard">
          <input class="pe-none" [readonly]="true" matInput [matDatepicker]="datepicker" [formControl]="weekControl">
          <mat-datepicker-toggle matIconSuffix [for]="datepicker">
            <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #datepicker startView="month" (monthSelected)="setMonthAndYear($event, datepicker)"></mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-stroked-button class="btn btn-primary ms-2" type="button" (click)="today()">TODAY</button>
    </div>
  </div>

  <div class="content" [@slideAnimation]="slideState">
    <div class="d-flex flex-row justify-content-between align-items-center text-center border rounded overflow-auto me-3">
      <div class="w-100 py-3 px-3 cursor-pointer week-range-carousel {{ (selectedDate | date: 'd') === (day | date: 'd') ? selectedDateClass : '' }}"
        *ngFor="let day of daysOfWeek; let first = first; let last = last"
        [ngClass]="{
          'd-flex flex-row align-items-center ': first || last,
          'rounded text-white': (selectedDate | date: 'd') === (day | date: 'd')
        }"
        (click)="scrollToContainer(day, $event)">
        <mat-icon *ngIf="first" class="fs-1 cursor-pointer"
          [class.text-muted]="(selectedDate | date:'shortDate') !== (day | date: 'shortDate')"
          [class.text-white]="(selectedDate | date:'shortDate') === (day | date: 'shortDate')"
          (click)="updateWeekRange('prev', $event)">
          keyboard_arrow_left
        </mat-icon>
        <div class="d-flex flex-column w-100">
          <h3 class="mb-0" [class.text-muted]="(selectedDate | date:'shortDate') !== (day | date: 'shortDate')">{{ day | date:'EEE'}}</h3>
          <h3 class="fw-bold mb-0 fs-3"
            [ngClass]="{'text-decoration-underline': (currentDate | date:'shortDate') === (day | date: 'shortDate')}">
            {{ day | date: 'dd' }}
          </h3>
        </div>
        <mat-icon *ngIf="last" class="fs-1 cursor-pointer text-muted" (click)="updateWeekRange('next', $event)">keyboard_arrow_right</mat-icon>
      </div>
    </div>

    <div class="week-view pe-2 mt-3">
      <ng-container *ngFor="let meal of weeklyMealPlan; let first = first">
        <div class="day-of-week rounded border-bottom" [class.mt-2]="!first" [id]="(meal.day | lowercase) + '-container'">
          <span class="progress" [ngClass]="'text-' + meal.totalMealScoreClass">
            <mat-progress-bar mode="determinate" [value]="meal.totalMealScore * 100 | number"></mat-progress-bar>
          </span>
          <div class="d-flex flex-column flex-sm-row">
            <div class="day-card border p-3 meal-date-zen-score d-flex flex-column">
              <div class="text-end">
                <mat-icon class="text-muted fs-6 cursor-pointer" (click)="deleteMealByDate(meal)">refresh</mat-icon>
              </div>
              <div class="text-start d-flex flex-column mt-auto">
                <h1 class="mb-1 fw-bold fs-1" [ngClass]="'text-' + meal.totalMealScoreClass">
                  {{ meal.totalMealScore | percent }}
                </h1>
                <span class="align-self-start fs-6">{{ meal.mealDate | date:'MMMM dd, y' }}</span>
              </div>
            </div>
            <div class="day-card border p-3 w-100 cursor-pointer">
              <div (click)="selecteMealPlan(meal, mealTypeEnum.Breakfast)">
                <div class="d-flex justify-content-between">
                  <label class="text-muted fs-6">Breakfast</label>
                  <mat-icon class="text-primary text-end cursor-pointer" (click)="deleteMealByDate(meal)">list_alt</mat-icon>
                </div>
                  <div class="recipe-list">
                    <ng-container *ngTemplateOutlet="recipeList; context: { meals: meal.breakfast.meals, className: 'bg-' + meal.totalMealScoreClass }">
                    </ng-container>
                  </div>
              </div>
              <ng-container *ngTemplateOutlet="foodCategories; context: { mealPlan: meal, meal: meal.breakfast, mealType: mealTypeEnum.Breakfast }"></ng-container>
            </div>
            <div class="day-card border p-3 w-100">
              <div class="cursor-pointer" (click)="selecteMealPlan(meal, mealTypeEnum.Lunch)">
                <span class="text-muted fs-6">Lunch</span>
                <div class="recipe-list">
                  <ng-container *ngTemplateOutlet="recipeList; context: { meals: meal.lunch.meals, className: 'bg-' + meal.totalMealScoreClass }">
                  </ng-container>
                </div>
              </div>
              <ng-container *ngTemplateOutlet="foodCategories; context: { mealPlan: meal, meal: meal.lunch, mealType: mealTypeEnum.Lunch }"></ng-container>
            </div>
            <div class="day-card border p-3 w-100">
              <div class="cursor-pointer" (click)="selecteMealPlan(meal, mealTypeEnum.Dinner)">
                <span class="text-muted fs-6">Dinner</span>
                <div class="recipe-list">
                  <ng-container *ngTemplateOutlet="recipeList; context: { meals: meal.dinner.meals, className: 'bg-' + meal.totalMealScoreClass }">
                  </ng-container>
                </div>
              </div>
              <ng-container *ngTemplateOutlet="foodCategories; context: { mealPlan: meal, meal: meal.dinner, mealType: mealTypeEnum.Dinner }"></ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #recipeList let-meals="meals" let-className="className">
  <div class="d-flex flex-row flex-wrap">
    <span class="py-1 px-3 mt-2 me-2 border text-white {{ className }}"
      *ngFor="let meal of meals; let first = first"
      [class.ms-0]="first">
      {{ meal.recipe.recipeName }}
    </span>
  </div>
</ng-template>

<ng-template #foodCategories let-mealPlan="mealPlan" let-meal="meal" let-mealType="mealType">
  <div class="mt-1">
    <app-food-category-icons
      [mealType]="mealType"
      [protein]="meal.protein"
      [carbohydrate]="meal.carbohydrate"
      [vegetables]="meal.vegetables"
      [leafyGreens]="meal.leafyGreens"
      [zen]="meal.zen"
      (selectedFoodCategory)="selecteMealPlan(mealPlan, mealType, $event)">
    </app-food-category-icons>
  </div>
</ng-template>
