.food-category-icons {
  .no-serving {
    filter: brightness(0) saturate(100%) invert(86%) sepia(8%) saturate(3%) hue-rotate(319deg) brightness(92%) contrast(81%);
    --webkit-filter: brightness(0) saturate(100%) invert(86%) sepia(8%) saturate(3%) hue-rotate(319deg) brightness(92%) contrast(81%);
  }

  .deficient {
    filter: brightness(0) saturate(100%) invert(69%) sepia(100%) saturate(627%) hue-rotate(349deg) brightness(100%) contrast(108%);
    -webkit-filter: brightness(0) saturate(100%) invert(69%) sepia(100%) saturate(627%) hue-rotate(349deg) brightness(100%) contrast(108%);

  }

  .overflow {
    filter: brightness(0) saturate(100%) invert(28%) sepia(87%) saturate(7262%) hue-rotate(355deg) brightness(100%) contrast(82%);
    --webkit-filter: brightness(0) saturate(100%) invert(28%) sepia(87%) saturate(7262%) hue-rotate(355deg) brightness(100%) contrast(82%);
  }

  .zen {
    filter: brightness(0) saturate(100%) invert(78%) sepia(11%) saturate(2277%) hue-rotate(41deg) brightness(90%) contrast(94%);
    --webkit-filter: brightness(0) saturate(100%) invert(78%) sepia(11%) saturate(2277%) hue-rotate(41deg) brightness(90%) contrast(94%);
  }
}
