::ng-deep .form-input .mat-form-field {
  width: 100%;

  .mat-form-field-required-marker {
    color: var(--bs-danger);
  }

  .close-icon {
    color: var(--bs-gray-600);

    &.close-icon:hover {
      color: var(--bs-primary);
      cursor: pointer;
    }
  }
}
   