<div class="dialog-container" [ngClass]="dialogData.title.toLowerCase()">
  <div class="dialog-content" mat-dialog-content>
    <div class="header-container">
      <mat-icon class="icon">{{dialogData.iconName}}</mat-icon>
      <h2 class="header-text">{{dialogData.title}}</h2>
    </div>
    <p>{{dialogData.message}}</p>
    <p *ngIf="dialogData.hasSecondaryMessage">{{dialogData.secondaryMessage}}</p>
  </div>
  <div class="button-container" *ngIf="dialogData.showDialogAction">
    <button mat-raised-button mat-dialog-close class="cancel-btn">CANCEL</button>
    <button mat-raised-button (click)="onConfirm()" mat-flat-button class="action-btn">{{dialogData.title}}</button>
  </div>
</div>
