<div class="sign-up-form">
  <form>
    <h3 class="fw-bold mb-1">PERSONAL</h3>
    <div class="row">
      <div class="col-6 custom-col">
        <app-form-input [formItem]="name" [formGroup]="signUpForm">
        </app-form-input>
      </div>
      <div class="col-6 custom-col">
        <app-form-date-picker [formItem]="birthDate" [formGroup]="signUpForm">
        </app-form-date-picker>
      </div>
    </div>
    <div class="row">
      <div class="col-6 custom-col">
        <app-form-select [formItem]="gender" [formGroup]="signUpForm">
        </app-form-select>
      </div>
      <div class="col-6 custom-col">
        <app-form-select [formItem]="country" [formGroup]="signUpForm">
        </app-form-select>
      </div>
    </div>
    <div class="row">
      <div class="col-4 custom-col">
        <app-form-input [formItem]="startWeight" [formGroup]="signUpForm">
        </app-form-input>
      </div>
      <div class="col-2 measurement custom-col">
        <app-form-select [formItem]="weightMeasurement" [formGroup]="signUpForm" [selectedValue]="'lbs'">
        </app-form-select>
      </div>
      <div class="col-4 custom-col">
        <app-form-input [formItem]="startHeight" [formGroup]="signUpForm">
        </app-form-input>
      </div>
      <div class="col-2 measurement custom-col">
        <app-form-select [formItem]="heightMeasurement" [formGroup]="signUpForm" [selectedValue]="'ft'">
        </app-form-select>
      </div>
    </div>
    <h3 class="fw-bold mt-3 mb-1">CREDENTIAL</h3>
    <div class="row">
      <div class="col-6 custom-col">
        <app-form-input [formItem]="userName" [formGroup]="signUpForm">
        </app-form-input>
      </div>
      <div class="col-6  custom-col">
        <app-form-input [formItem]="email" [formGroup]="signUpForm">
        </app-form-input>
      </div>
    </div>
    <div class="row">
      <div class="col custom-col">
        <app-form-input [formItem]="password" (focus)="onFocusInput()" [formGroup]="signUpForm" [controlType]="isPasswordShow?'text':'password'" (iconClick)="showPassword()">
        </app-form-input>
      </div>
      <div class="col custom-col">
        <app-form-input [formItem]="confirmPassword" (focus)="onFocusInput()" [formGroup]="signUpForm" [controlType]="isConfirmPasswordShow?'text':'password'" (iconClick)="showConfirmPassword()">
        </app-form-input>
      </div>
    </div>
    <span class="not-macthed d-block" *ngIf="showPasswordNotMacthedMessage">'Confirm Password' and 'New Password' do not match.</span>
  </form>
</div>
<div class="auth-buttons mt-3">
  <button class="cancel-btn primary-btn" mat-stroked-button type="submit" [routerLink]="['/']">CANCEL</button>
  <button class="sign-up-btn primary-btn ml-3 pl-3" mat-stroked-button type="submit" (click)="signUp()">SIGN UP</button>
</div>
