

<div class="planner-week-view-container">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="meal-plan-controls d-flex flex-row align-items-baseline">
      <div class="no-of-servings">
        <mat-form-field appearance="outline">
          <input matInput
            [type]="'number'"
            [formControl]="noOfServingsControl"
            id="no-of-servings"
            [value]="mealPlanServingSize"
            placeholder="No. of Servings">
        </mat-form-field>
      </div>
      <button class="btn btn-outline-warning ms-2" type="button" (click)="clear()">CLEAR</button>
    </div>
    <div class="total-zen-score">
      <h1 class="fw-bold">Zen Score: {{totalWeekZenScore | percent: '1.1-1' }}</h1>
    </div>
    <div class="week-controls d-flex flex-row flex-wrap align-items-center">
      <div class="week-control-date-picker">
        <mat-form-field appearance="standard">
          <input class="pe-none" [readonly]="true" matInput [matDatepicker]="datepicker" [formControl]="weekControl">
          <mat-datepicker-toggle matIconSuffix [for]="datepicker">
            <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #datepicker startView="month" (monthSelected)="setMonthAndYear($event, datepicker)"></mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-stroked-button class="btn btn-primary ms-2" type="button" (click)="today()">TODAY</button>
    </div>
  </div>

  <div class="content" [@slideAnimation]="slideState">
    <div class="d-flex flex-row justify-content-between align-items-center text-center border rounded mt-2 overflow-auto me-3">
        <div class="w-100 py-3 px-3 cursor-pointer day-of-week {{ (selectedDate | date: 'd') === (day | date: 'd') ? selectedDateClass : '' }}"
          *ngFor="let day of daysOfWeek; let first = first; let last = last"
          [ngClass]="{
            'd-flex flex-row align-items-center ': first || last,
            'rounded text-white': (selectedDate | date: 'd') === (day | date: 'd')
          }"
          (click)="scrollToContainer(day, $event)">
          <mat-icon *ngIf="first" class="fs-1 cursor-pointer"
            [class.text-muted]="(selectedDate | date:'shortDate') !== (day | date: 'shortDate')"
            [class.text-white]="(selectedDate | date:'shortDate') === (day | date: 'shortDate')"
            (click)="updateWeekRange('prev', $event)">
            keyboard_arrow_left
          </mat-icon>
          <div class="d-flex flex-column w-100">
            <h3 class="mb-0" [class.text-muted]="(selectedDate | date:'shortDate') !== (day | date: 'shortDate')">{{ day | date:'EEE'}}</h3>
            <h3 class="fw-bold mb-0 fs-3"
              [ngClass]="{'text-decoration-underline': (currentDate | date:'shortDate') === (day | date: 'shortDate')}">
              {{ day | date: 'dd' }}
            </h3>
          </div>
          <mat-icon *ngIf="last" class="fs-1 cursor-pointer text-muted" (click)="updateWeekRange('next', $event)">keyboard_arrow_right</mat-icon>
        </div>
    </div>

    <div class="week-view pe-2 mt-2">
      <ng-container *ngFor="let meal of mealsForTheWeek; let first = first">
        <div class="day-of-week-view rounded border-bottom" [class.mt-2]="!first" [id]="(meal.day | lowercase) + '-container'">
          <span class="progress" [ngClass]="'text-' + meal.totalMealScoreClass">
            <mat-progress-bar mode="determinate" [value]="meal.totalMealScore * 100 | number"></mat-progress-bar>
          </span>
          <div class="d-flex flex-row">
            <div class="day-card border w-50 d-flex flex-column p-3">
              <div class="text-end">
                <mat-icon class="text-muted fs-6 cursor-pointer">refresh</mat-icon>
              </div>
              <div class="text-start d-flex flex-column mt-auto">
                <h1 class="mb-1 fw-bold fs-1" [ngClass]="'text-' + meal.totalMealScoreClass">
                  {{ meal.totalMealScore | percent }}
                </h1>
                <span class="align-self-start fs-6">{{ meal.mealDate | date:'MMMM dd, y' }}</span>
              </div>
            </div>
            <div class="day-card border p-3 w-100 d-flex flex-column flex-wrap cursor-pointer">
              <div (click)="onSelectMeal(meal, mealTypeEnum.Breakfast)">
                  <label class="text-muted fs-6">Breakfast</label>
                  <div class="recipe-list">
                    <ng-container *ngTemplateOutlet="recipeList; context: { meals: meal.breakfast.meals, className: 'bg-' + meal.totalMealScoreClass }">
                    </ng-container>
                  </div>
              </div>
              <img class="cursor-pointer" src="../../../../../assets/images/meal_zen.png" alt="breakfast" width="20" height="20"
                  [matTooltip]="'Zen - ' + meal.breakfast.zen! + ' Serving'" [matTooltipPosition]="'above'"
                  (click)="onSelectMeal(meal, mealTypeEnum.Breakfast, foodCategoryEnum.Breakfast)">
            </div>
            <div class="day-card border p-3 w-100">
              <div class="cursor-pointer" (click)="onSelectMeal(meal, mealTypeEnum.Lunch)">
                <span class="text-muted fs-6">Lunch</span>
                <div class="recipe-list">
                  <ng-container *ngTemplateOutlet="recipeList; context: { meals: meal.lunch.meals, className: 'bg-' + meal.totalMealScoreClass }">
                  </ng-container>
                </div>
              </div>
              <ng-container *ngTemplateOutlet="foodCategories; context: { meal: meal.lunch, mealType: mealTypeEnum.Lunch }"></ng-container>
            </div>
            <div class="day-card border p-3 w-100">
              <span class="text-muted fs-6">Dinner</span>
              <div class="recipe-list">
                <ng-container *ngTemplateOutlet="recipeList; context: { meals: meal.dinner.meals, className: 'bg-' + meal.totalMealScoreClass }">
                </ng-container>
              </div>
              <ng-container *ngTemplateOutlet="foodCategories; context: { meal: meal.dinner, mealType: mealTypeEnum.Dinner }"></ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  </div>

<ng-template #recipeList let-meals="meals" let-className="className">
  <div class="mt-2 d-flex flex-row flex-wrap flex-1 overflow-auto">
    <span class="py-2 px-4 mb-2 me-2 border rounded-3 text-white {{ className }}"
      *ngFor="let meal of meals; let first = first"
      [class.ms-0]="first">
      {{ meal.recipe.recipeName }}
    </span>
  </div>
</ng-template>

<ng-template #foodCategories let-meal="meal" let-mealType="mealType">
  <div class="d-flex flex-row align-self-end">
    <img class="cursor-pointer " src="../../../../../assets/images/meal_protein.png" alt="breakfast" width="20" height="20"
      [matTooltip]="'Protein - ' + meal.protein + ' Serving'" [matTooltipPosition]="'above'"
      (click)="onSelectMeal(meal, mealType, foodCategoryEnum.Protein)">
    <img class="cursor-pointer ms-2 incomplete" src="../../../../../assets/images/meal_carbs.png" alt="breakfast" width="20" height="20"
      [matTooltip]="'Carbohydrate - ' + meal.carbohydrate! + ' Serving'" [matTooltipPosition]="'above'"
      (click)="onSelectMeal(meal, mealType, foodCategoryEnum.Carbohydrate)">
    <img class="cursor-pointer ms-2 warning" src="../../../../../assets/images/meal_veggies.png" alt="breakfast" width="20" height="20"
      [matTooltip]="'Vegetables - ' + meal.vegetables! + ' Serving'" [matTooltipPosition]="'above'"
      (click)="onSelectMeal(meal, mealType, foodCategoryEnum.Vegetables)">
    <img class="cursor-pointer ms-2 complete" src="../../../../../assets/images/meal_leafy_greens.png" alt="breakfast" width="20" height="20"
      [matTooltip]="'Leafy Greens - ' + meal.leafyGreens + ' Serving '" [matTooltipPosition]="'above'"
      (click)="onSelectMeal(meal, mealType, foodCategoryEnum.LeafyGreens)">
  </div>
</ng-template>
