.overview-header-label {
  font-weight : 500;
  line-height: 35px;
}

.tab-container {
    margin-top: 11px;

  .tab-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
}


.badge {
  border-radius: 50%;
  font-size: 13px;
  font-weight: 400;
}

.people-icon {
  transform: scale(3);
  color: var(--bs-primary);
}

