.member-gain-container {
  .search-member-container {
    max-width: 350px;
  }

  .fw-bold {
    font-weight: 600;
  }

  ::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: 0.5em 0 .75em 0 !important;
    }
  }
}
