.delete-meal-plan-confirmation-modal {
  .refresh-icon {
    background-color: #FAD3D3;
  }

  .close-icon {
    position: absolute;
    top: -20px;
    right: -15px;
  }

  .date-range, .refresh-icon {
    color: var(--bs-orange);
  }

  .btn-outline-warning {
    border-color: var(--bs-orange);
    color: var(--bs-orange);

    &:hover {
      background-color: var(--bs-orange);
      color: var(--bs-white);
    }
  }

  .btn-warning {
    background-color: var(--bs-orange);
    border-color: var(--bs-orange);

    &:hover {
      opacity: 90%;
    }
  }
}
