<div class="loading-indicator" *ngIf="spinnerService.visibility | async">
  <mat-progress-spinner mode="indeterminate" color="accent" [diameter]="50" strokeWidth="5"></mat-progress-spinner>
</div>
<div class="forgot-password-container">
  <div class="panels d-flex">
    <div class="left-panel">
      <div class="left-panel-content">
        <div class="header-content">
          <img class="logo" src="../../../../assets/images/nf-header-logo.svg">
          <span class="d-block">Development build Version: 0.6.7</span>
        </div>
        <app-advertisement-carousel>
        </app-advertisement-carousel>
        <div class="footer-content">
          <div class="d-flex flex-row justify-content-center">
            <div class="p-3 pt-0">
              <mat-icon>facebook</mat-icon>
            </div>
            <div class="p-3 pt-0">
              <mat-icon> insert_link</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <div class="right-panel-content">
        <div class="auth-content">
          <h3>Forgot Password?</h3>
        </div>
        <div class="forgot-password-form">
          <form>
            <div class="form-field-input password-container">
              <app-form-input [formItem]="email" [formGroup]="forgotPasswordForm">
              </app-form-input>
            </div>
          </form>
        </div>
        <div class="auth-buttons">
          <button class="login-btn primary-btn d-block" mat-stroked-button type="submit" (click)="sendEmailConfirmation()">SEND EMAIL CONFIRMATION</button>
        </div>
        <div class="justify-content-center text-center pt-2">
        <span [routerLink]="['/']" class="cancel-link">Cancel</span>
        </div>
      </div>
    </div>
  </div>
</div>
