
<div class="reset-cycle-modal position-relative">
  <button class="text-muted close-icon" mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <div class="header d-flex flex-row">
    <div class="cycle-icon rounded-circle d-flex p-2 align-self-center me-3">
      <mat-icon class="align-self-center cycle-icon">autorenew</mat-icon>
    </div>
    <div class="header-content">
      <h6 class="fw-bolder mb-0 fs-6">Reset Cycle?</h6>
      <span class="text-muted">Fill in the indulge start date for </span>
      <span class="user-full-name">{{ userFullName }}</span>
    </div>
  </div>
  <div>
    <div class="d-block mt-2">
      <app-form-date-picker [formItem]="formItem"
                            [formGroup]="formGroup"
                            [minDate]="dateToday">
      </app-form-date-picker>
      <mat-error *ngIf="formGroup.hasError('isPriorDate')">Please enter future date.</mat-error>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button class="btn btn-outline-primary me-2 px-4" type="button" (click)="cancel()">CANCEL</button>
    <button class="btn btn-primary text-white px-5" type="button" (click)="save()">SAVE</button>
  </mat-dialog-actions>
</div>
