/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/functions';

@import '../src/assets/stylesheets/_custom-boostrap-variables';

@import '~bootstrap/scss/bootstrap.scss';

.main-container {
  max-width: 1200px;

  .btn-primary {
    color: #fff;
  }

  .btn:hover {
    color: #fff;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .material-icons {
    cursor: pointer;

    &:hover {
      opacity: 0.8;

      &.text-muted {
        color: var(--bs-primary) !important;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray-400);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-500);
    cursor: pointer !important;
  }
}
