/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/functions';

@import '../src/assets/stylesheets/_custom-boostrap-variables';

@import '~bootstrap/scss/bootstrap.scss';

.main-container {
  max-width: 1200px;
}

.btn-primary {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.material-icons {
  cursor: pointer;

  &:hover {
    opacity: 0.8;

    &.text-muted {
      color: var(--bs-primary) !important;
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: var(--bs-primary) !important;
}
