::ng-deep {
  .user-list-container {
    .search-member-container {
      max-width: 350px;
    }

    ::ng-deep .mat-form-field-appearance-outline {
      .mat-form-field-infix {
        padding: 0.5em 0 .75em 0 !important;
      }
    }

    .mat-table {
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
    }

    thead {
      th {
        &.mat-column-name {
          width: 20%;
        }

        &.mat-column-cycle,
        &.mat-column-status,
        &.mat-column-startDate {
          width: 15%;
        }

        &.mat-column-age,
        &.mat-column-gender,
        &.mat-column-country {
          width: 10%;
        }

        &.cdk-column-action {
          width: 5%;
        }
      }
    }

    tbody {
      td {
        label {
          color: #757575;
          font-size: 14px;
          line-height: 14px;
        }

        &.cdk-column-action {
          text-align: right;
        }
      }
    }

    .mat-row:hover {
      background-color: #E7F4D8;
    }

    .mat-header-cell {
      font-weight: 600;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .filter-select {
    padding-left: 5px;
  }

  .h-50 {
    height: 50px !important;
  }
}
