.shopping-list-container {
  .recipe-filter {
    width: 100%;

    @media (min-width: 576px) {
      width: 25%;
    }
  }

  .recipe-ingredients, .recipe-instructions {
    .not-selected {

    }
  }

  .recipe-ingredients {
    width: 100%;

    @media (min-width: 576px) {
      width: 35%;
    }
  }

  .recipe-instructions {
    width: 100%;

    @media (min-width: 576px) {
      width: 65%;
    }
  }
}
