<div class="food-category-icons d-flex flex-row">
  <ng-container *ngFor="let category of filteredFoodCategories">
    <img class="cursor-pointer ms-2" [src]="category.imgSrc" [alt]="category.label" width="20" height="20"
    [matTooltip]="category.label + ' - ' + category.numberOfServings + ' Serving'" [matTooltipPosition]="'above'"
    [ngClass]="{
      'no-serving': category.numberOfServings === 0,
      'deficient': category.numberOfServings > 0 && category.numberOfServings < 1,
      'zen': category.numberOfServings === 1,
      'overflow': category.numberOfServings > 1
    }"
    (click)="selectedFoodCategory.emit(category.foodCategory)">
  </ng-container>
</div>
