@use '@angular/material' as mat;

@include mat.core();

$nf-primary: mat.define-palette(mat.$light-green-palette, 500);
$nf-accent: mat.define-palette(mat.$light-green-palette, A100, A200, A400);

$nf-theme: mat.define-light-theme((
 color: (
   primary: $nf-primary,
   accent: $nf-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($nf-theme);